:root{
    --cor-principal: #ffc4ff;
    --cor-fonte: #272727;
}

body{
    background-color: var(--cor-principal);
}
center{
    
}
h1{
    color: var(--cor-fonte);
}
h2{
    color: var(--cor-fonte);
}
p{
    color: var(--cor-fonte);
}
ul{
    list-style-type: circle;
}
a{
    color: var(--cor-fonte);
    text-decoration: none;
}
a:hover{
    color: rgb(1, 100, 100);
    text-decoration: underline;
}
a:active{
    color: red;
}
